In [6]:
import pandas as pd

In [4]:
'''
Creating Data Frames
optional columns paramter
optional index parameter
'''
df = pd.DataFrame([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

In [ ]:
df

In [ ]:
'''
.head(x), positive and negative indexing
.tail(x)
.sample(x)
'''

In [ ]:
'''
.shape()
.info()
.describe()
'''

In [ ]:
'''
Modifying data type of a column
d["A"] = d["B"].astype('datatype')
'''

In [ ]:
'''
.columns
.index
.nunique()
.unique()
'''

In [ ]:
'''
Loading csv dataset
read_csv(path)
Datasets:
customer_feedback
health_data
student_scores
'''

In [ ]:
'''
.loc[]
.iloc[]
'''

In [8]:
df_csv = pd.read_csv('Data/student_scores.csv')
df_csv.head()

   Student_ID  Math  Science  English
0           1    78       88       74
1           2    55       69       58
2           3    89       94       87
3           4    65       70       62
4           5    95       90       92

In [10]:
print(df_csv.iloc[1:4, 0:2])

   Student_ID  Math
1           2    55
2           3    89
3           4    65

In [ ]:
'''
Modifying the values. 
Single cell
multiple cells
df_csv.loc[r, c] = V
df_csv.iloc[r, c] = V
'''

In [ ]:
'''
Adding columns:
df_csv["New-Col"] = V
df_csv["New-Col"] = Eq
'''

In [ ]:
'''
Add a column with average of all subjects
'''

In [ ]:
'''
Column Operations:
df_csv['C'].mean()
'''

In [ ]:
'''
Find mean for every numerical column and create a list
'''

In [ ]:
'''
Create a row as a dictionary
Add a row: df_csv.loc[len(df_csv)] = new_row
'''

In [ ]:
'''
Add a row containing totals
'''

In [ ]:
'''
Delete a row:
df_csv = df_csv.drop(x)
Delete a column
df_csv = df_csv.drop(x, axis = 1)
'''

In [ ]:
'''
iterting over rows as Series:
for index, row in df_csv.iterrows()
'''

In [ ]:
'''
iterating over rows as tuples
for tup in df_csv.itertuples():
'''

In [ ]:
'''
Data Sorting
df_csv.sort_values("C", ascending=T/F)
'''

In [ ]:
'''
Conditions, Filtering:
cond = df_csv["C"] > x
df_csv.loc[cond, C]
'''

In [ ]:
'''
Write a condition to display Sudent ID and English marks for students with more than
80 in Math and more than 85 in Science
'''

In [ ]:
'''
Display Student Id of the students that score greater than 80 in Math but their
score in either English or Science was less than 75
'''

In [ ]:
'''
isin
cond = df_csv["C"].isin([x, y])
'''

In [ ]:
'''
Mapping
using lambda: df_csv["New C"] = df_csv["C"].map(lambda p: p + x)
Using function: df_csv["New C"] = df_csv["C"].map(func_call)
'''